html, body, #react-view-container {
  height: 100%;
}
#react-view-container > div:first-of-type {
  height: 100%;
}
#banca-router {
  height: 100%;
}
#banca-router > div:first-of-type {
  min-height: calc(100% - 102px);
}
body {
  min-width: 350px;
  font-weight: 300;
  font-family: "museo-sans",sans-serif;
  color: #000000;
}

.max-width-container{
  max-width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    width: 100px;
    height: 40px;
    div {
      background-color: #B5B5B5;
    }
  }
}

.users-dropdown{
  background-color: #e7e7e7;
  border: 1px solid #E2E2E2;
  border-top: none;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.07);
  a:hover{
    color: #35c0be !important;
    background-color: #e7e7e7 !important;
  }
  li{
    padding: 2px 0px;
  }
}

.footer {
  border-top:1px solid #35C0BE;
  padding: 5px 0px 5px 10px;
  background-color: #fff;
  p {
    font-size: 11px;
    margin: 0px;
  }
}

.terms{
  height: calc(100vh - 112px);
  max-width: 600px;
  padding: 22px;
}

.nav > li > a{
  padding: 15px 15px;
  img{
    margin-left: 6px;
  }
}
.nav-arrow{
  @include transition(all, 0.3s, ease-in-out);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: #f7f7f7;
  .nav-arrow{
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
  }
}
.navbar-default .navbar-nav > li > a:hover{
  background-color: #f7f7f7;
}
.navbar-nav > li > .dropdown-menu{
  background-color: #f7f7f7;
  border: 1px solid #E4E4E4;
  border-top: none;
  li > a{
    color: #5D5D5D;
    padding: 6px 20px;
    font-weight: 300;
    &:hover{
      color: #35c0be !important;
      background-color: #F7F7F7;
    }
  }
}
.link-to{
  color: #2a9998;
  a{
    color: #2a9998;
  }
}

.navbar {
  margin-bottom: 0px;
  .dropdown-menu {
    right: 0;
    left: auto !important;
  }
  .navbar-logos-div {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.gmnoprint {
  display: none;
}

.modal-content {
  .modal-body {
    padding: 10px !important;
  }
}

.col-xs-6, .col-sm-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.hiddenLinks {
  display: none !important;
}

.value-picker {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .selector {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    padding-top: 6px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    @include transition(all, 0.3s, ease);
    p {
      text-align: center;
    }
    &:hover{
      color: #FFF;
      background-color: #71d2d1;
    }
  }
  .active {
    background-color: #35c0be;
    color: #fff;
  }
}

.icon-picker {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 10px;
  .icon {
    display: flex;
    .icon-label {
      margin-left: 15px;
      margin-top: 5px;
      font-size: 15px;
    }
  }
}

.input-field-form {
  display: flex;
  .input-container {
    width: 100%;
    input{
      box-shadow: none;
      text-align: center;
      &:active, &:focus{
        outline: none;
        box-shadow: none;
        border: 1px solid #35C0BE;
      }
    }
  }
  .input-label {
    margin-left: 10px;
    margin-top: 7px;
  }
}

.input-group {
  .error {
    border: 1px solid #FE696B;
  }
  input{
    box-shadow: none;
    text-align: left;
    &:active, &:focus{
      outline: none;
      box-shadow: none;
      border: 1px solid #35C0BE;
    }
  }
  .input-group-addon{
    background-color: #fff !important;
    border: 1px solid #CCCCCC;
    border-right: none;
  }
}

.valuation-container{
  display: flex;
  align-items: stretch;
  .valuation-input{
    padding: 25px;
    border-right: 1px solid #DDDDDD;
  }
  .valuation-input-last{
    padding: 25px;
    border-right: none;
  }
  .valuation-input-title{
    font-weight: 500;
    margin-bottom: 15px;
  }
}

.landing-search-form {
  padding: 20px 30px 0px 30px;
  margin-top: 10px;
  input{
    box-shadow: none;
    &:active, &:focus{
      outline: none;
      box-shadow: none;
      border: 1px solid #35C0BE;
    }
  }
  .input-group-addon{
    background-color: #fff !important;
    -webkit-border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-topleft: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
  .click-outside {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
  }
}

.gray-button{
  background-color: #C0C0C0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  padding: 10px 12px;
  border: none;
  border-radius: 3px;
  &:hover{
    background-color: #d2d2d2;
  }
  &:focus{
    box-shadow: none;
    outline: none;
  }
}
.aqua-button{
  background-color: #35c0be;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  padding: 10px 12px;
  border: none;
  border-radius: 3px;
  &:hover{
    background-color: #71d2d1;
  }
  &:focus{
    box-shadow: none;
    outline: none;
  }
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
