.landing-page {
  height: calc(100vh - 50px);
  background-color: #F2F5FA;
  padding-top: 10%;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.search-button {
  background-color: #35c0be;
  height: 40px;
  width: 75px;
  text-align: center;
  border: 1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  &:focus {
    outline: 0;
  }
}
.search-dropdown-button {
  background-color: white;
  height: 40px;
  border: 1px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-color: #35c0be;
  border-right-style: solid;
  font-weight: normal
  &:focus {
    outline: 0;
  }
}

.modal-box {
  background-color: white;
  margin-top: 15px;
  padding-bottom: 35px;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
}
.modal-dropdown-button {
  display: inline-block;
  background-color: rgba(1,1,1,0);
  border: 1px;
  color: black;
  font-weight: 500;
  border-bottom-style: solid;
  border-bottom-color: #a9a9a9;
  &:focus {
    outline: 0;
  }
}

.modal-row {
  padding-top: 20px;
}
.modal-button-container {
  width: 60%;
}

.search-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  .search-container {
    width: 100%;
    display: flex;
    .sarch-dropdown {
      width: 75px;
    }
    .sarch-input {
      width: calc(100% - 150px);
    }
    .sarch-button {
      width: 75px;
    }
  }
  @media screen and (max-width: 1000px) {
    width: 80%;
  }
}

.modal-div {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1000px) {
  .modal-div {
    width: 80%;
    .modal-row {
      .col-md-4 {
        padding-right: 0px;
        padding-left: 0px
      }
      .im-quantity-selector-button {
        padding: 0px;
      }
    }
    .im-dropdown-button {
      img {
        display: none;
      }
    }
  }
}
