.Landing {
  button.btn {
    padding: 10px 20px;
    background-color: #35c0be !important;
    color: #fff;
  }

  .Index {
    background: url('./../images/dante.jpg');
    height: 500px;

    .headers {
      margin-top: 100px;
      text-align: center;
      color: #FFFFFF;
    }

    .buttons-redirect {
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
    }
  }

  .LandingForm {
    margin-bottom: 50px;
    .landing-search-form {
      padding: 30px;
      margin-top: 10px;
    }
    .subtitle {
      margin-top: 50px;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
    .Breakpoint {
      background-color: #35c0be;
      padding: 10px;
      h2 {
        text-align: center;
        color: #fff;
        font-weight: lighter;
      }
    }
    .inner-form {
      padding: 0px 100px;
    }
    .buttons-redirect {
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
    }
  }
}

