.landing-page {
  height: calc(100vh - 105px);
  background: url('./../images/dante.jpg') no-repeat center center fixed;
  // background-color: #F2F5FA;
  padding-top: 10%;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.search-button {
  background-color: #35c0be;
  height: 40px;
  width: 75px;
  text-align: center;
  border: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  &:focus {
    outline: 0;
  }
}
.search-dropdown-button {
  background-color: white;
  height: 40px;
  border: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-color: #35c0be;
  border-right-style: solid;
  font-weight: normal;
  padding-right: 9px;
  &:focus {
    outline: 0;
  }
}

.search-dropdown{
  width: 100%;
  right: 0;
  border-radius: 5px;
  top: -1px;
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.05);
  .im-menu-item{
    padding-left: 15px;
    padding-top: 12px;
    min-height: 40px;
  }
}

.modal-box {
  background-color: white;
  margin-top: 15px;
  padding-bottom: 25px;
  border-radius: 8px;
}
.modal-dropdown-button {
  display: inline-block;
  background-color: rgba(1,1,1,0);
  border: 1px;
  color: black;
  font-weight: 500;
  border-bottom-style: solid;
  border-bottom-color: #C3C3C3;
  margin: 0px 15px;
  &:focus {
    outline: 0;
  }
}

.disabled-modal-dropdown-button{
  .modal-dropdown-button{
    cursor:no-drop;
    color: #b5b5b5;
  }
  .im-dropdown{
    display: none;
  }
}

.modal-row {
  padding-top: 20px;
  font-size: 13px;
}

.modal-icons-row{
  display: flex;
  justify-content: space-around;
}

.modal-button-container {
  width: 60%;
  top: -4px;
  .im-dropdown{
    top: -1px;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.05);
  }
}


.search-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  .search-container {
    width: 100%;
    display: flex;
    .sarch-dropdown {
      width: 95px;
    }
    .sarch-input {
      width: calc(100% - 150px);
      .im-input-dropdown {
        .input-error {
          &::-webkit-input-placeholder { color: #FE696B}
          &:-moz-placeholder           { color: #FE696B}
          &::-moz-placeholder          { color: #FE696B}
          &:-ms-input-placeholder      { color: #FE696B}
          &:placeholder-shown          { color: #FE696B}
        }
        input[type="text"] {
          @include transition(color, 1.4s, linear);
        }
      }
      position: relative !important;
    }
    .sarch-button {
      width: 75px;
    }
  }
  @media screen and (max-width: 1000px) {
    width: 80%;
  }
}

.im-input-dropdown{
  position: absolute;
  width: 100%;
  .im-dropdown{
    right: 0px;
    left: 0px;
    margin: 0 auto;
  }
}

.modal-div {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popover-alert{
  position: absolute !important;
  box-shadow: none;
  color: #FE696B;
  margin-top: -15px !important;
}

.input-modal {
  display: inline-block;
  background-color: rgba(1, 1, 1, 0);
  border: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C3C3C3;
  color: #000;
  font-weight: 500;
  margin: 0 15px;
  padding: 0 0 0 30%;
  width: 80%;
  &:focus {
    outline: 0;
    border-bottom-color: #35c0be;
  }
}

.metric {
  position: absolute;
  top: 0;
  right: 20px;
}

@media screen and (max-width: 1000px) {
  .modal-div {
    width: 80%;
    .modal-row {
      .col-md-4 {
        padding-right: 0px;
        padding-left: 0px
      }
      .im-quantity-selector-button {
        padding: 0px;
      }
    }
    .im-dropdown-button {
      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .metric {
    right: 0px;
  }
  .input-modal {
    padding: 0 0 0 15%;
  }
}
