.box-shadow {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.TableContainer {
  width: 100%;
  overflow-y: auto;
  overflow: auto;
  margin: 0 0 1em;
  .ReporteTable {
    width: 100%;
    font-size: 13px;
    tr {
      @include transition(all, 0.5s, ease);
    }
    tr.active-row {
      background-color: $gray-6;
    }
    th {
      text-align: center;
      padding: 10px 0px;
    }
    tbody {
      border-top: 2px solid $light-blue;
    }
    td {
      text-align: center;
      padding: 10px 0px;
      border-bottom: 1px solid $gray-5;
      cursor: pointer;
    }
  }
}

.NavbarIcons {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .NavbarIcon {
    display: flex;
    align-items: center;
    width: auto;
    p {
      margin-bottom: 0px !important;
      margin-left: 10px;
    }
  }
}
.navbar-default{
  background-color: #E8E8E8;
}

.HiddenButtons {
  display: none;
}

.shownButtons {
  display: none;
}

.BlockContainer {
  margin-top: 40px;
  margin-bottom: 10px;
  .green-price {
    text-align: center;
    font-size: 22px;
    color: $green;
    margin-bottom: 0px;
    font-weight: 500;
  }
  .primary-price {
    text-align: center;
    font-size: 20px;
    color: $black;
    margin-bottom: 0px;
  }
  .secondary-price {
    text-align: center;
    font-size: 16px;
    color: $black;
    margin-bottom: 0px;
    font-weight: 500;
  }
  .subtitle {
    text-align: center;
    font-size: 12px;
    color: $gray-3;
  }
}

.SectionTitle {
  color: $black;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}


.MainSection {
  @include transition(all, 0.75s, ease);
  background-color: $white;
  &:hover{
    background-color: rgba(242, 245, 245, 0.55);
  }
}

.TooltipContainer {
  background-color: $white;
  border: 1px solid $gray-3;
  border-radius: 2px;
  padding: 7px;
  p {
    margin-bottom: 0px !important;
  }
  a {
    text-decoration: none;
    padding-left: 0px !important;
    &:hover {
      text-decoration: none;
    }
  }
  .Tooltip-row {
    display: flex;
    justify-content: center;
  }
  .Tooltip-title{
    font-weight: bold;
    font-size: 10px;
  }
  .Tooltip-value {
    font-size: 10px;
    padding-left: 5px;
  }
  .Tooltip-unit {
    font-size: 10px;
  }
  .Tooltip-triangle{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -5px;
    left: 50%;
  }
  .Tooltip-triangle-border{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 0px;
    border-color: #828282 transparent;
    display: block;
    width: 0px;
    z-index: 0;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
  }
}

.LineDivider {
  margin: 10px auto;
  height: 2px;
  width: 150px;
  background: -moz-linear-gradient(left, $white 0%,  $red 25%,  $red 75%, $white 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $white 0%, $red 25%, $red 75%,$white 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $white 0%, $red 25%, $red 75%,$white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.SubsectionTitle{
  font-weight: 500;
  font-size: 14px;
  color: $black;
  margin-left: 5px;
}


.OfertaDisponible {
  .OfertaDisponible-price{
    font-size: 20px;
    margin-bottom: 0px !important;
    font-weight: 500;
  }
  .listados {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
  }
}

.BackToTop {
  position: fixed;
  right: 14px;
  bottom: 14px;
}

.Footnote{
  font-size: 11px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.PopoverConfianza {
  box-shadow: none;
  padding: 10px 10px 10px 12px;
  width: 250px;
  p {
    font-size: 12px;
    margin: 0px !important;
    font-weight: 300;
    font-family: "museo-sans",sans-serif;
  }
}

.MapTooltip {
  cursor: pointer;
  position: absolute;
  background-color: $white;
  display: none;
}

.ColoniaInfo, .ViviendaInfo {
  .InfoContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.ColoniaInfo{
  padding: 0px 15px;
}

.container-fluid {
  display: flex !important;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .LandingInput {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .BlockContainer {
    & > div {
      border: none !important;
    }
    .barchart-section{
      padding: 0;
    }
  }
  .LandingInput {
    font-size: 11px;
  }
}

.listados{
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

.ControlBar {
  display: flex;
  align-items: center;
  .control-container {
    z-index: 80;
    .menu-item {
      margin-right: 20px;
      padding: 8px 15px;
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      img{
        @include transition(all, 0.3s, ease-in-out);
        margin-left: 9px;
      }
      img.active {
        -ms-transform: rotate(-180deg); /* IE 9 */
        -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
        transform: rotate(-180deg);
      }
      &:hover {
        border-bottom: 3px solid #71d2d1;
      }
      a {
        font-size: 13px;
        color: #5D5D5D;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .menu-item-selected {
      border-bottom: 3px solid #35c0be;
    }
    .menu-item-disabled {
      cursor: not-allowed;
      &:hover {
        border-bottom: 0px solid #1394bc;
      }
      a {
        cursor: not-allowed;
        font-size: 14px;
        color: $gray-3;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
}

.ColoniaForm {
  padding: 0px;
  .landing-search-form{
    margin-top: 0px;
    padding: 0;
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    button{
      margin: 10px 15px;
    }
  }
}

.ViviendaForm {
  .landing-search-form{
    margin-top: 0px;
    padding: 0px 13px;
  }
  .valuation-container {
    .row {
      width: 100%;
    }
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    button{
      margin: 10px 15px;
    }
  }
}

.ViviendaForm {
  padding: 0px;
}

