@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition:    $transition-property $transition-time $method;
  -ms-transition:     $transition-property $transition-time $method;
  -o-transition:      $transition-property $transition-time $method;
  transition:         $transition-property $transition-time $method;
}

#sticky-nav{
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  margin-bottom: 0px;
}

.mercado-table {
  width: 100%;
  font-size: 13px;
  th {
    text-align: center;
    padding: 10px 5px 10px 5px;
  }
  td {
    text-align: center;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
  }
  thead {
    border-bottom: 2px solid #35C0BE;
  }
}

.block-container {
  margin-top: 40px;
  margin-bottom: 10px;
}

.green-price {
  text-align: center;
  font-size: 22px;
  color: #35c079;
  margin-bottom: 0px;
}

.primary-price {
  text-align: center;
  font-size: 20px;
  color: #000;
  margin-bottom: 0px;
}

.secondary-price {
  text-align: center;
  font-size: 16px;
  color: #000;
  margin-bottom: 0px;
}


.subtitle {
  text-align: center;
  font-size: 12px;
  color: #828282;
}

.section-title{
  color: #000;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
}
.section-title-hr{
  border-top: 2px solid #FE696B;
  margin-top: 0px;
}

.subsection-title{
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.tooltip-container {
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 5px;
  p {
    margin-bottom: 0px !important;
  }
  .tooltip-title{
    font-weight: bold;
    font-size: 10px;
  }
  .tooltip-value {
    font-size: 10px;
  }
  .tooltip-unit {
    font-size: 10px;
  }
  .tooltip-row {
    display: flex;
  }
}

.navbar-icons {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .navbar-icon {
    display: flex;
    align-items: center;
    width: auto;
    margin-right:
    p {
      margin-bottom: 0px !important;
      margin-left: 10px;
    }
  }
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media screen and (max-width: 768px) {
  .block-container {
    div {
      border: none !important;
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar-desc {
    display: none;
  }
}

.apariencia-anual {
  margin-top: 75px;
  @media screen and (max-width: 768px) {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.table-container {
  width: 100%;
  overflow-y: auto;
  overflow: auto;
  margin: 0 0 1em;
}

.back-to-top {
  position: fixed;
  right: 14px;
  bottom: 14px;
}