// Colors
$light-blue:  #35C0BE;
$blue:        #1394BC;
$dark-blue:   #007BAC;
$orange:      #ef735b;
$red:         #fe696b;
$black:       #000;
$gray-1:      #353535;
$gray-2:      #5C5C5C;
$gray-3:      #828282;
$gray-4:      #B5B5B5;
$gray-5:      #DDDDDD;
$gray-6:      #EFEFEF;
$green:       #35c079;
$white:       #FFF;
// Font
$font-color: #222;
$light-font-color: #9C9C9C;
$font: "proxima-nova", sans-serif;
