// Colors
$light-blue: #1B9DC5;
$blue: #1394BC;
$dark-blue: #007BAC;
$orange: #ef735b;
$gray-1: #353535;
$gray-2: #5C5C5C;
$gray-3: #828282;
$gray-4: #B5B5B5;
$gray-5: #DDDDDD;
$gray-6: #EFEFEF;
$white: #FFF;
// Font
$font-color: #222;
$light-font-color: #9C9C9C;
$font: "proxima-nova", sans-serif;
// Variables Market
$marker-width:60px;
$marker-height: 20px;
$marker-font-color: #fff;
$marker-bg-color: #53b50a;
$marker-border-color: #51714E;
$marker-border-color-im: #0b5870;
$marker-hover-color: #ee552a;
$marker-font-size: 13px;
$sidebar-controls-height: 30px;
$toolbar-address-width: 27%;
