<nav class="navbar navbar-default" style="minHeight:40px" >
  <div class="max-width-container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
        <a href="/">
      	  <img height="26px" style="margin: 10px" src="<%= asset_path 'logo_im.svg' %>" />
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div style="cursor: pointer; padding-top: 0px; display: flex; justify-content: flex-end; align-items: center;">
          <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-top: -2px; padding-right: 0px;">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img height="20px" style="margin: 0px 10px;" src="<%= asset_path 'user.svg' %>" />
                </a>
                <ul class="dropdown-menu users-dropdown">
                  <li><a href="/users/edit">Cambiar contraseña</a></li>
                  <li><a href="/helpers/logout">Salir</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="max-width-container terms">
  <h3>
    Condiciones de uso
  </h3>
  <p>
    La Plataforma de Valuación Intelimétrica es una herramienta especializada que permite conocer de forma inmediata, el valor actual de mercado de una vivienda, mediante procedimientos estadísticos aplicados a la base de datos inmobiliaria de Intelimétrica, S.A.P.I. de C.V. La Plataforma de Valuación Intelimétrica es un punto de referencia para la toma de decisiones tales como compra-ventas inmobiliarias, cálculo del importe de hipotecas, herencias, subastas, estudios de financiamiento, valoración orientativa de patrimonios, comparaciones de precios, etc.
  </p>
  <p>
    La Plataforma de Valuación Intelimétrica estima un valor mediante algoritmos desarrollados por Intelimétrica, S.A.P.I. de C.V., y en ningún caso debe considerarse como sustituto de un avalúo que emite un profesional cualificado. La Plataforma de Valuación Intelimétrica no es el informe sobre el que las entidades financieras se pueden basar para la concesión de préstamos hipotecarios. La presente información es propiedad de Intelimétrica, S.A.P.I. de C.V. y se pone a disposición de sus posibles usuarios sin fines de asesoramiento legal, comercial o de inversión. Consecuentemente Intelimétrica, S.A.P.I. de C.V. no se hace responsable de las decisiones tomadas en base a dicha información ni en su caso de las inexactitudes, omisiones o errores que puedan contenerse en el mismo. Se autoriza la reproducción total o parcial, del mismo, para uso no comercial, citando como fuente ‘’Intelimétrica, S.A.P.I. de C.V.’’, sociedad no vinculada ni participada por ninguna entidad financiera ni inmobiliaria.
  </p>
</div>