<%# <footer class="footer"> %>
<%#   <div class="max-width-container" style="padding: 10px 0px"> %>
<%#     <div style="display: inline-block; margin-right: 10px;"> %>
<%#       <p>© 2016 Intelimétrica S.A.P.I. de C.V.</p> %>
<%#     </div> %>
<%#     <div style="display: inline-block; margin-left: 10px;"> %>
<%#         <p class="link-to"><%= link_to "Condiciones de uso", condiciones_path %1></p> %>
<%#     </div> %>
<%#   </div> %>
<%# </footer> %>

